.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.herobg{
  background: url("https://img.freepik.com/free-photo/flat-lay-heart-cardiogram-pills-pink-background-conceptual-minimalism_169016-19211.jpg?t=st=1712948108~exp=1712951708~hmac=c1644dd94421fea1b595b1b8cb2143972f796dceda2d22b801addbd6eb188df6&w=1060");
}